/Report.aux
/Report.fdb_latexmk
/Report.fls
/Report.log
/Report.out
/Report.synctex.gz
/Report.toc
/indent.log
/.vscode
/_minted-Report
/slides.aux
/slides.fdb_latexmk
/slides.fls
/slides.log
/slides.out
/slides.synctex.gz
/slides.toc
/slides.nav
/slides.snm